{% extends "inmobiliariaVR/base.html" %}
{% load staticfiles %}
{% block title %}Inmobiliaria VR{% endblock %}
{% block title_logo %}Inmobiliaria VR | Generar zip{% endblock %}

{% block content %}
  <div class="row">
    <form id="form_seleccion_casa" class="col s6">
    {% csrf_token %}
      <div class="input-field col s12">
        <select id="casa_seleccionada" name="casa_seleccionada">
          <option disabled selected value>Selecciona una casa</option>
          {% for casa in casas %}
            <option value="{{casa}}">{{casa}}</option>
          {% endfor %}
        </select>
      <button class="waves-effect waves-light btn" type="submit">Seleccionar</button>
      </div>
    </form>
    <form id="form_generar_zip" class="col s6">
    {% csrf_token %}
      <div style="visibility:hidden;" id="div_habitaciones" class="input-field col s12">
        <select id="habitacion_seleccionada" name="habitacion_seleccionada">
            <option disabled selected value>Selecciona una habitacion</option>
        </select>
        <button class="waves-effect waves-light btn" type="submit">Generar zip</button>
        <a style="visibility:hidden;" id="boton_descarga" class="waves-effect waves-light btn" download>Descargar ficheros</a>
      </div>
    </form>
  </div>
{% endblock %}