{% load staticfiles %}

<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Test</title>
    <meta name="description" content="Test">
    <script src="https://aframe.io/releases/0.5.0/aframe.min.js"></script>
    <script src="https://npmcdn.com/aframe-animation-component@3.0.1"></script>
    <script src="https://npmcdn.com/aframe-event-set-component@3.0.1"></script>
    <script src="https://npmcdn.com/aframe-layout-component@3.0.1"></script>
    <script src="https://npmcdn.com/aframe-template-component@3.1.1"></script>
    <script src="{% static 'js/jquery.js' %}"></script>
    <script src="{% static 'js/materialize.js' %}"></script>
    <script src="{% static 'js/set-image.js' %}"></script>
    <script src="{% static 'js/custom.js' %}"></script>
  </head>
  <body>

    <a-scene debug="true" inspector="url: https://aframe.io/releases/0.3.0/aframe-inspector.min.js">
      <a-assets>
        <img id="city" crossorigin="anonymous" src="{{link}}">
      </a-assets>

      <!-- 360-degree image. -->
      <a-sky id="image-360" radius="10" src="#city"></a-sky>

      <!-- Camera + cursor. -->
      <a-entity camera-listener camera look-controls >
      <a-camera>
          <a-cursor  debug="true" rotation-reader cursor-listener cursor id="cursor"
            animation__click="property: scale; startEvents: click; from: 0.1 0.1 0.1; to: 1 1 1; dur: 150"
            animation__fusing="property: fusing; startEvents: fusing; from: 1 1 1; to: 0.1 0.1 0.1; dur: 1500"
            event-set__1="_event: mouseenter; color: blue"
            event-set__2="_event: mouseleave; color: yellow"
            event-set__3="_event: mousedown; color: red"
            fuse="false"
            raycaster="objects: .link"></a-cursor>
        </a-camera>
      </a-entity>
    </a-scene>
  </body>
</html>