{% extends "inmobiliariaVR/base.html" %}
{% load staticfiles %}
{% block title %}Inmobiliaria VR{% endblock %}
{% block title_logo %}Inmobiliaria VR | Index{% endblock %}

{% block content %}
<!--<iframe width="500" height="500" src="https://proyecto-tfg.glitch.me/"></iframe>-->
  <div class="row">
      <div class="col s12">
          <h3>Mis casas</h3>
          <div class="col s6">
              <table>
                <thead>
                  <tr>
                      <th>Nombre de la casa</th>
                      <th>Editar</th>
                      <th>Eliminar</th>
                  </tr>
                </thead>

                <tbody id="tabla_casas">
                  {% for casa in casas %}
                      <tr>
                          <td id="{{forloop.counter0}}">{{casa}}</td>
                          <td name="{{casa}}"><button id="editar" class="btn waves-effect waves-light boton_tabla">Editar</button></td>
                          <td name="{{casa}}"><button id="eliminar" class="btn waves-effect waves-light boton_tabla">Eliminar</button></td>
                      </tr>
                  {% endfor %}
                </tbody>
              </table>
          </div>
      </div>
  <div class="col s12">
    <form id="form_nueva_casa" class="">
    {% csrf_token %}
      <div class="row">
        <h3>Formulario nueva casa</h3>
        <div class="input-field col s3">
          <input placeholder="Nombre de la casa" id="nombre_casa" name="nombre_casa" type="text" class="validate" required>
        </div>
        <div class="input-field col s3">
          <input placeholder="Numero de estancias" id="numero_habitaciones" name="numero_habitaciones" type="number" min="1" class="validate" required>
        </div>
      </div>
      <div class="row input-field col s4">
          <button class="waves-effect waves-light btn" type="submit">Nueva Casa</button>
      </div>
    </form>
    <form id="form_habitaciones" class="col s12" enctype="multipart/form-data">
      {% csrf_token %}
    </form>
  </div>
 </div>
{% endblock %}